Semester7/XML_others/Library.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->
<!ELEMENT song ((name, artist))>
<!ELEMENT price (#PCDATA)>
<!ELEMENT pages (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT mid. (#PCDATA)>
<!ELEMENT fam. (#PCDATA)>
<!ELEMENT fam (#PCDATA)>
<!ELEMENT book ((name, author, ISBN, pages, price))>
<!ELEMENT author ((name, mid., fam.))>
<!ELEMENT artist ((name, fam))>
<!ELEMENT Library ((book, Cd))>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT Cd ((name, ISBN, price, song))>
