Semester7/XML_others/Library.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="song">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="artist"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="price">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="155.55"/>
				<xs:enumeration value="20.5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pages">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="2555"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Nice songs"/>
				<xs:enumeration value="Penjo"/>
				<xs:enumeration value="Y here"/>
				<xs:enumeration value="georgi"/>
				<xs:enumeration value="kniga1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="mid.">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="georgiev"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fam.">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="georgiev"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fam">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-----"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="author"/>
				<xs:element ref="ISBN"/>
				<xs:element ref="pages"/>
				<xs:element ref="price"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="mid."/>
				<xs:element ref="fam."/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="artist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="fam"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Library">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book"/>
				<xs:element ref="Cd"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ISBN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="125HG54GG"/>
				<xs:enumeration value="454555HFDF"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Cd">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="ISBN"/>
				<xs:element ref="price"/>
				<xs:element ref="song"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
