Semester7/XML_others/Telbook.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->
<!ELEMENT type (#PCDATA)>
<!ELEMENT phone ((type, number))>
<!ELEMENT person ((name, family, phone))>
<!ELEMENT number (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT family (#PCDATA)>
<!ELEMENT Telbook ((person+))>
