Semester7/XML_others/telbook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="home"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="phone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="number"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="family"/>
				<xs:element ref="phone"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="number">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="123456789"/>
				<xs:enumeration value="1255666"/>
				<xs:enumeration value="987654321"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Kristiqn"/>
				<xs:enumeration value="misho"/>
				<xs:enumeration value="vasko"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="family">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Stamov"/>
				<xs:enumeration value="mitev"/>
				<xs:enumeration value="penev"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Telbook">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
