Semester7/XML_others/University.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2010 (http://www.altova.com)-->
<!ELEMENT student ((name, fam, deptID))>
<!ELEMENT semester (#PCDATA)>
<!ELEMENT name (#PCDATA | student)*>
<!ELEMENT group (#PCDATA)>
<!ELEMENT fam (#PCDATA)>
<!ELEMENT deptID (#PCDATA)>
<!ELEMENT University ((group, name, Lection))>
<!ELEMENT Specialty (#PCDATA)>
<!ELEMENT Prof ((name, fam, EGN))>
<!ELEMENT Lection ((Prof, Specialty, semester, group))>
<!ELEMENT EGN (#PCDATA)>
