Semester7/XML_others/zad1x.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ivan Ivanov (Ivanov Ltd.) -->
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Prof."/>
				<xs:enumeration value="Dr."/>
				<xs:enumeration value="Mr."/>
				<xs:enumeration value=""/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="song">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="artist"/>
			</xs:sequence>
			<xs:attribute name="Num" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="price">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="29.65"/>
				<xs:enumeration value="65.98"/>
				<xs:enumeration value="66.66"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pages">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="387"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Burziq"/>
				<xs:enumeration value="Chervenata shapchica"/>
				<xs:enumeration value="Classic music"/>
				<xs:enumeration value="Prikazki"/>
				<xs:enumeration value="Snejanka"/>
				<xs:enumeration value="Symphonia"/>
				<xs:enumeration value="The hobbit"/>
				<xs:enumeration value="uknown"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fam">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=" Djo "/>
				<xs:enumeration value="uknown"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="author"/>
				<xs:element ref="ISBN"/>
				<xs:element ref="pages"/>
				<xs:element ref="price"/>
			</xs:sequence>
			<xs:attribute name="genre" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="fantaqstica"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:sequence maxOccurs="5">
				<xs:element ref="title" minOccurs="0" maxOccurs="3"/>
				<xs:element ref="name"/>
				<xs:element ref="fam"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="artist">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="fam"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Library">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="book"/>
				<xs:element ref="CD" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ISBN">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="12-GT-87-665"/>
				<xs:enumeration value="234-KJ-645"/>
				<xs:enumeration value="234-KJ-698"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CD">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="ISBN"/>
				<xs:element ref="price"/>
				<xs:element ref="song" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
