Semester7/XML_others/zadt_tels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Ivan Ivanov (Ivanov Ltd.) -->
<!--W3C Schema generated by XMLSpy v2010 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="type" type="xs:NOTATION"/>
	<xs:element name="phone">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="type"/>
				<xs:element ref="number"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="family"/>
				<xs:element ref="phone"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="number">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="897898768"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ME"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="family">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Todorov"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Telbook">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
